
@{
    ViewBag.Title = "CBO";
}



<div class="row">
    <div class="col-12">
        <div class="container-formulario shadow">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <div class="form-inline cursor-pointer" title="Novo" onclick="javascript: window.open('cad_acessoRapido','_self')">
                                <i class="fa fa-plus-circle plus-new-frm fa-2x"></i> &nbsp; Novo
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="sub-titulo-form">Filtros</label>
                        </div>
                    </div>
                    <hr class="hr-form" />
                    <div class="row">
                        <div class="col-12 px-5">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="txt_nome">Nome do Acesso rápido</label>
                                        <input type="text" class="form-control" name="txt_nome" id="txt_nome" />
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="txt_nomePaginaArea">Nome da Página área vinculada</label>
                                        <input type="text" class="form-control field_autoBusca" name="txt_nomePaginaArea" id="txt_nomePaginaArea" data-field_type="field_paginaArea" />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="cmb_status">Status</label>
                                        <select class="form-control" name="cmb_status" id="cmb_status">
                                            <option value="">Selecione</option>
                                            <option value="1" selected>Ativo</option>
                                            <option value="0">Inativo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-center">
                                    <input type="button" class="btn btn-success" name="btn_buscar" id="btn_buscar" value="Buscar" title="Buscar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-12">
                            <label class="sub-titulo-form">Resultados</label>
                        </div>
                    </div>
                    <hr class="hr-form" />

                    <div class="row">
                        <div class="col-12 px-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-inline-flex align-items-center form-group">
                                        <select class="form-select cmb_qtdPaginacao" name="cmb_qtdRegistro" id="cmb_qtdRegistro">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        &nbsp;resultados por página
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive-xl" id="tb_busca">
                                        <table class="table table-striped border-table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nome</th>
                                                    <th class="text-center">Página da área vinculada</th>
                                                    <th class="text-center">Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="100%">
                                                        <div class="row align-items-center">
                                                            <div class="col-6 menssagem text-align-left"></div>
                                                            <div class="col-6 paginacao text-right"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#tb_busca tbody').html('<tr><td colspan="100%" class="text-center">Nenhum registro encontrado!</td></tr><tr><td colspan="100%" class="text-center">Nenhum registro encontrado!</td></tr><tr><td colspan="100%" class="text-center">Nenhum registro encontrado!</td></tr><tr><td colspan="100%" class="text-center">Nenhum registro encontrado!</td></tr>')
    });
</script>