@{
    ViewData["Title"] = "Home";
}

<div class="col-12 d-flex justify-content-end mb-2">
    <div class="form-inline cursor-pointer" title="Novo" onclick="javascript: window.open('cad_acessoRapido','_self')">
        <i class="fa fa-plus-circle plus-new-frm fa-2x"></i> &nbsp; Novo
    </div>
</div>

<div class="btn-group dropstart">
    <button type="button" class="btn-acesso-rapido dropdown-toggle no-arrow-dopdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-plus"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-12">
        <div class="container-formulario shadow">
            <form>
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                Usuário
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="obgMark form-label" for="txt_email">E-mail</label>
                                            <input type="text" class="form-control obg" name="txt_email" id="txt_email" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg col-xl">
                                        <div class="form-group">
                                            <label class="obgMark form-label" for="txt_nome">Nome</label>
                                            <input type="text" class="form-control obg" name="txt_nome" id="txt_nome" maxlength="200" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-auto col-xl-3">
                                        <div class="form-group">
                                            <label class="obgMark form-label" for="txt_dtNascimento">Data de Nascimento</label>
                                            <input type="date" class="form-control obg" name="txt_dtNascimento" id="txt_dtNascimento" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12  mb-4">
                        <div class="card">
                            <div class="card-header text-white bg-dark-secundary">
                                Cliente
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="obgMark form-label" for="txt_cliente">Cliente</label>
                                            <input type="text" name="txt_cliente" id="txt_cliente" class="form-control obg field_autoBusca" data-field_type="Field_Cbo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 text-center mt-5" id="div_containerBtnsPg">
                        <input type="button" class="btn btn-primary" name="btn_resetSenha" id="btn_resetSenha" value="Resetar Senha" title="Resetar Senha" />
                        <input type="button" class="btn btn-success" name="btn_gravar" id="btn_gravar" value="Gravar" title="Gravar" />
                        <input type="button" class="btn btn-secondary" name="btn_voltar" id="btn_voltar" value="Voltar" title="Voltar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#btn_gravar').on('click', function () {
            $.ajax({
                type: "POST",
                Cache: false,
                url: "../Home/Inserir",
                data: { nome: '', cargo: 'T.I' },
                success: function (result) {

                    console.log(result);
                    if (result.success) {
                        alert(result.message);
                    } else {
                        var errorMessages = result.errors.join("\n");
                        alert("Erros de validação:\n" + errorMessages);
                    }
                }
            });
        });
    });
</script>